.pagos-container {
  padding: 30px;
}

.titulo {
  font-size: 24px;
  font-weight: bold;
}

.subtitulo {
  color: #a0a0a0;
  margin-bottom: 20px;
}

.resumen-pagos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 30px;
}

.card-pago {
  background: #eee;
  border-radius: 12px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.card-pago i {
  font-size: 24px;
}

/* Colores */
.azul {
  background: linear-gradient(135deg, #6dd0f1, #9163ec);
}
.verde {
  background: linear-gradient(135deg, #97d399, #007206);
}
.morado {
  background: linear-gradient(135deg, #b1a1cf, #8e6ae2);
}
.rojo {
  background: linear-gradient(135deg, #f5c2c2, #6b0202);
}

/* Tabs y filtros */
.filtro-pagos {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.tabs button {
  background: #eee;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
}

.tabs .active {
  background: #ebeff0;
  color: rgb(0, 0, 0);
}

.filtros {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.filtros input {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.filtros select {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
