/* Para que toda la app ocupe al menos la altura de la pantalla */
html, body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
}

.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}